---
- include: login_defs.yml
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'Oracle Linux' or ansible_distribution == 'CentOS' or ansible_distribution == 'SLES'
  tags: login_defs

- include: pam_el.yml
  tags: pam
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'Oracle Linux' or ansible_distribution == 'CentOS'

- include: pam_sles.yml
  when: ansible_distribution == 'SLES'
  tags: pam

- include: sshd_config.yml
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'Oracle Linux' or ansible_distribution == 'CentOS' or ansible_distribution == 'SLES'
  tags: sshd_config

- include: sol_sec_defaults.yml
  tags: solaris_sec_defaults
  when:
  - ansible_os_family == 'Solaris'
  - ansible_distribution_version == '10'

- include: sshd_solaris.yml
  tags: sshd_config
  when:
  - ansible_os_family == 'Solaris'
  - ansible_distribution_version == '10'

- include: solaris_services.yml
  tags: solaris_services
  when:
  - ansible_os_family == 'Solaris'
  - ansible_distribution_version == '10'

- include: selinux.yml
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'Oracle Linux' or ansible_distribution == 'CentOS' or ansible_distribution == 'SLES'
  tags: selinux

- include: firewall_el.yml
  tags: firewall
  when: ansible_distribution == 'RedHat' or ansible_distribution == 'Oracle Linux' or ansible_distribution == 'CentOS'

- include: firewall_sles.yml
  tags: firewall
  when: ansible_distribution == 'SLES'

- include: profile.yml
  tags: profile
